// Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,700&display=swap');

// Define fonts for body and headers
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700 !important;
  position: relative;
  display: inline-block;
  &::after {
    width: 95%;
    content: "";
    height: 10%;
    position: absolute;
    z-index: -1;
    left: 15%;
    bottom: 15%;
    background-color: #F7955D;
  }
}


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

i {
  font-size: 24px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900 !important;
}

h3 h4 h5 h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}



