.top-page {
  display: flex;
  justify-content: space-around;
  position: absolute;
  background-color: transparent;
  padding: 10px;
  width:100%;
  align-items: center;
  }

.logo {
  width: 100px;
}

.button_3 {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 18px;
}

.top-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-phrase {
  text-align: center;
  margin: 40px;
}

.h2 {
  font-size: 38px;
}

.text-box {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}

.icon {
  margin: 10px;
  width: 250px;
  text-align: center;
}

.features-description {
  color: #707070;
  font-size: 18px;
}


.network {
  background-size: cover;
  background-position: 35% 30%;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/dxvk3qixb/image/upload/v1584046279/benefits_bg.jpg');
  padding: 20px;
}

.network h2 {
  color: white;
  padding-top: 20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}

.network-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.network-card {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255,255,255,0.9);
  width: 300px;
  margin: 20px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
  justify-content: center;
  padding: 30px;
}

.network-card li {
  text-align: center
}

