<h1 text-center>Find a play space</h1>
<div d-flex col-6 justify-content-between align-items-center>
<%= simple_form_for :search, url: play_spaces_path, method: "GET" do |f| %>
      <%= f.input :neighbourhood, required: false %>
      <%= f.submit "Search", class: "btn btn-warning" %>
      <%= link_to 'Reset', play_spaces_path %>
  <% end %>
</div>
