  <div class="container m-6">
    <div class="card p-4">
      <h2 class="text-center"> Dear <%= @play_spaces.user.name.capitalize %> </h2>
      <h1 class="text-center"> Thank you for your purchase </h1>
      <div class="text-center"><i class="far fa-check-circle"></i></div>
      <p class="purchase-name"><big><%= @purchase.hair.user.name.capitalize %> will get in touch with you to arrange the
        payment and delivery of their hair an email was send to <%= @purchase.user.email.capitalize %>.</big></p>
    </div>
  </div>
