<div class="banner">
  <div class="container-banner">
    <h1> <%= t("banner.title") %> </h1>
    <br>
    <p><%= t("banner.subt") %></p>
    <br>
    <div class="banner-button">
      <%= link_to t("banner.bt"), play_sessions_path, class: "button_home" %>
    </div>
  </div>
</div>
