<div class="banner">
  <div class="container-banner">
    <h1>Find a play session at <strong>Jolly</strong>!</h1>
    <br>
    <p>Let your kid play with friends in a surpervised and safe playspace!</p>
    <div class="banner-button">
      <%= link_to "Book now", new_user_session_path, class: "button_home" %>
    </div>
  </div>
</div>
