<div class="banner">
  <div class="container">
    <h1>Find a play session at <strong>Jolly</strong>!</h1>
    <p>Let your kid play with friends in a surpervised and safe playspace!</p>
    <%= link_to "Book now", new_user_session_path, class: "btn btn-warning" %>
  </div>
</div>
