<div class="footer-container">
  <div class="footer-logo">
    <%= image_tag "Jolly-13.png", width: 100, class: "logo" %>
  </div>
  <div class="footer-links">
    <div class="footer-link-item footer-link-facebook"><i class="fab fa-facebook"></i></div>

    <div class="footer-link-item footer-link-twitter"><i class="fab fa-twitter"></i></div>

    <div class="footer-link-item footer-link-email"><i class="fas fa-envelope"></i></div>
  </div>
</div>
