<div class="footer-container">
    <div class="footer-logo">
      <%= image_tag "Jolly-13.png", width: 100, class: "logo" %>
    </div>
    <div class="footer-links">

      <div class="footer-link-item footer-link-facebook"><i class="fab fa-facebook"></i>
<!--         <a href="https://www.facebook.com/jolly/" target="_blank">Facebook</a>
 -->      </div>

      <div class="footer-link-item footer-link-twitter"><i class="fab fa-twitter"></i>
<!--         <a href="https://twitter.com/jolly" target="_blank">Twitter</a>
 -->      </div>

      <div class="footer-link-item footer-link-email"><i class="fas fa-envelope"></i>
<!--         <a href="mailto:raquelngraca@gmail.com" target="_blank">Email</a>
 -->      </div>

    </div>
  </div>
