.banner {
  background-size: cover;
  background-position: 35% 50%;
  padding: 220px 0;
  height: 800px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dxvk3qixb/image/upload/v1584046280/homeimg.jpg');
  display: flex;
  justify-content: space-around;
}

.container-banner {
  display: block;
  flex-direction: columns;
  padding: 50px;
}

.banner-button {
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 42px;
  font-weight: bold;
  font-family: Comfortaa;
  text-align: center;
}

.banner p {
  font-size: 32px;
  color: white;
  opacity: .9 ;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding-bottom: 30px;
  text-align: center;
}

.button_home {
  background: #9A50A2;
  color: white;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(62,32,65,0.25);
  text-decoration: none;
}

