.banner {
  background-size: cover;
  background-position: 35% 50%;
  padding: 250px 0;
  height: 800px;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/dxvk3qixb/image/upload/v1584046280/homeimg.jpg');
}

.container-banner {
  display: block;
  flex-direction: columns;
  height: 300px;
  text-align: left;
  padding-top: 50px;
  margin: 0 60px;
}
.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 36px;
  font-weight: bold;
}

.banner p {
  font-size: 26px;
  color: white;
  opacity: .9 ;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding-bottom: 30px;
}
