.primary-button {
  background-color: #F7955D;
  border: solid 0.5px #5C2A4E;
  color: white;
  font-weight: 700;
  padding: 16px;
  border-radius: 20px;
}


.button_1 {
  background: #9A50A2;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(62,32,65,0.25);
  text-decoration: none;
}


a:visited {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

a:active {
  text-decoration: none !important;
}

.button_2 {
  color: #F58616 !important;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #F58616;
  text-decoration: none;
}


.button_2:hover {
  color: #F58616 !important;
}

.button_2:visited {
  color: #F58616 !important;
}
