.button_1 {
  background: #9A50A2;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(62,32,65,0.25);
}

.button_2 {
  color: #F58616;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #F58616;
}

.button_2:hover {
  color: #F58616;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #F58616;
}
