.footer-container {
  background-color: gray;
  color: white;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  height:100px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-links i {
  font-size: 26px;
  margin-left: 30px;
  color: white;
}
