.card {
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background: white;
  overflow: hidden;
  .card-infos{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    text-decoration: none;
  }
  .play-session-provider-avatar-bordered {
    position: absolute;
    right: 12px;
    top: -20px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: white 1px solid;
  }
  p {
    margin-bottom: 0;
  }
}

.card-header {
  height: 200px;
  width: 100%;
  color: white;
  display: flex;
  align-items: flex-end;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
  .icons {
    padding: 25px;
    display: flex;
    align-items: flex-start;
  }
.card:hover{
  box-shadow: 0px 0px 52px 0px rgba(0,0,0,0.49);
  outline: none;
  text-decoration: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}





