// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: white;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 24px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 20px;
}

h3 h4 h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

i{
  color: #F58616;
  font-size: 14px;
}

.fa-clock {
    font-size: 18px;
  }

a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.login-box {
  margin-bottom: 250px;
}
